<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name = "format-detection" content = "telephone=no" />
    
   <title>Message From User</title>

</head>
<body>
<center><h1>Message</h1></center>
<div>
<h2>From fgjlsdlgj</h2>
        <strong><label for="name">Name :</label></strong>
          <input id="Name" class="tmInput" value="fgjlsdlgj" type="text" name="name" >

          <div class="clear f_sep1"></div>
          <strong>Email :</strong>
          <input class="tmInput" value="tushar.chowdhury@gmail.com" type="email" name="email">

          <div class="clear f_sep1"></div>
          <strong class="dt">Phone :</strong>
          <input class="tmInput" value="34235" type="text" name="phone">
          <div class="clear f_sep1"></div>
          <strong class="dt">Message :</strong>
          <div class="clear f_sep1"></div>
          <textarea name="message" rows="4" cols="50">sdkfjskfjksf</textarea>
   
    <footer class="text-center">
            <p>&copy; Copyright The Entree Restaurant 2016</p>
    </footer>
    </div>

</body>

</html>

