<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../resource/bootstrap-3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../resource/CustomDesign/css/style.css">
    <script src="../../../resource/jquery/1.12.0/jquery.min.js"></script>
    <script src="../../../resource/bootstrap-3.3.6/js/bootstrap.min.js"></script>

    <title>Profile Info</title>

</head>
<body>
<center><h1>Profile Info</h1></center>
<div>
<h2>Profile Picture List</h2>
<table class="table table-bordered table-responsive table-hover" >

        <thead>
        <tr>
<!--            table heads are taken from array-->
            <th>SL</th>
            <th>ID</th>
            <th>User Name</th>
            <th>Thumbnail</th>
            
        </tr>
        </thead>
        <tbody>
         <tr><td>1</td><td></td><td>Mash</td><td><img src="../../../resource/images/1466860605mash.jpeg" height="50px" width="50px"></td></tr><tr><td>2</td><td></td><td>Steve</td><td><img src="../../../resource/images/1466860003jobs.jpeg" height="50px" width="50px"></td></tr><tr><td>3</td><td></td><td>Blake</td><td><img src="../../../resource/images/1466860040blake.jpeg" height="50px" width="50px"></td></tr><tr><td>4</td><td></td><td>Sakib</td><td><img src="../../../resource/images/1466860060file.jpeg" height="50px" width="50px"></td></tr><tr><td>5</td><td></td><td>Hugh</td><td><img src="../../../resource/images/1466878506hugh.jpeg" height="50px" width="50px"></td></tr><tr><td>6</td><td></td><td>Bill</td><td><img src="../../../resource/images/1466878524gates.jpeg" height="50px" width="50px"></td></tr><tr><td>7</td><td></td><td>Shibli</td><td><img src="../../../resource/images/14668788482015-07-22-13-30-56-419.jpg" height="50px" width="50px"></td></tr>

        </tbody>
    </table>
   
    <footer class="text-center">
            <p>&copy; Copyright Ashfak Md. Shibli & Atomic Projects 2016</p>
    </footer>
    </div>

</body>

</html>

